@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');





body {
  background-color: white;
  font-family: 'Roboto', serif;
  padding: 45px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  }

li {
  float: left;
  
}

li a {
  display: block;
  padding-right: 40px;
  padding-top: 0px;
  text-decoration: none;
  color: #161e25;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  float: left;
}


h1 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 300%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-bottom-color: rgb(220,220,220);

  }

h2 {
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 140%;
}

p {
  color: black;
  
}

img {
	padding-right: 40px;
}

footer {
  padding-top: 100px;
  padding-bottom: 20px;
}


.connect-link{
  display: inline-block;
  color: #534dd5;
  text-decoration: none;
  float: right;
}

.connect-year{
  float: left;
}


.connect-link-a{
  display: inline-block;
  color: #534dd5;
  text-decoration: none;
  float: left;
}

.navigation-link{
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    margin-right: 0px;
    margin-left: -6px;
    font-size: 14px;
    align-self: center;
    color: #161e25;
    text-decoration: none;
    float: right;
   
}

.logo{
  float: left;
}

.post-link{
  text-decoration: none;
  color: black;
}

}


